<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://a.b.c/x/y/Z"
            class="statechart.StatechartPackage"
            genModel="EMF/statechart.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinet -->
      <package
            uri="http://a.b.c/x/y/Z"
            class="petrinet.PetrinetPackage"
            genModel="EMF/petrinet.genmodel"/>
   </extension>

</plugin>
